---
http_interactions:
- request:
    method: get
    uri: https://api.bnm.gov.my/public/base-rate/BKKBMYKL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1554618633'
      Etag:
      - '"1f40cde5e30d17675d50cf107702a1ea94a8067b-gzip"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"bank_code":"BKKBMYKL","bank_name":"Bangkok Bank Berhad","base_rate":4.72,"base_lending_rate":7.37,"indicative_eff_lending_rate":5.92},"meta":{"effective_date":"2019-04-05","last_updated":"2019-01-18
        19:25:02","total_result":1}}'
  recorded_at: Sun, 07 Apr 2019 06:25:35 GMT
recorded_with: VCR 4.0.0
