---
http_interactions:
- request:
    method: get
    uri: https://api.bnm.gov.my/public/base-rate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '22'
      X-Ratelimit-Reset:
      - '1554584773'
      Etag:
      - '"5a14c7e8982dc812acd9759a52baa9ea2d9a95f9-gzip"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"bank_code":"BKKBMYKL","bank_name":"Bangkok Bank Berhad","base_rate":4.72,"base_lending_rate":7.37,"indicative_eff_lending_rate":5.92},{"bank_code":"CIBBMYKL","bank_name":"CIMB
        Bank Berhad","base_rate":4.25,"base_lending_rate":7.1,"indicative_eff_lending_rate":5},{"bank_code":"CITIMYKL","bank_name":"Citibank
        Berhad","base_rate":3.9,"base_lending_rate":7.05,"indicative_eff_lending_rate":4.7},{"bank_code":"HLBBMYKL","bank_name":"Hong
        Leong Bank Malaysia Berhad","base_rate":4.13,"base_lending_rate":7.14,"indicative_eff_lending_rate":5},{"bank_code":"HBMBMYKL","bank_name":"HSBC
        Bank Malaysia Be[...]
