---
http_interactions:
- request:
    method: get
    uri: https://api.bnm.gov.my/public/fx-turn-over/date/2019-4-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1555559999'
      Etag:
      - '"5ee2eb5ca0217aac77003e0c720b8da1710f5be8-gzip"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"date":"2019-04-10","total_sum":12.42},"meta":{"last_updated":"2019-04-12
        07:00:04","total_result":1}}'
  recorded_at: Thu, 18 Apr 2019 03:59:24 GMT
recorded_with: VCR 4.0.0
