---
http_interactions:
- request:
    method: get
    uri: https://api.bnm.gov.my/public/fx-turn-over/year/2019/month/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1555564822'
      Etag:
      - '"9da0b71b21dc87312d39a48e8a6406522b129b0c-gzip"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"date":"2019-04-12","total_sum":10.68},{"date":"2019-04-11","total_sum":11.95},{"date":"2019-04-10","total_sum":12.42},{"date":"2019-04-09","total_sum":11.51},{"date":"2019-04-08","total_sum":11.32},{"date":"2019-04-05","total_sum":11.02},{"date":"2019-04-04","total_sum":12.76},{"date":"2019-04-03","total_sum":11.86},{"date":"2019-04-02","total_sum":11.42},{"date":"2019-04-01","total_sum":10.84}],"meta":{"last_updated":"2019-04-12
        07:00:04","total_result":10}}'
  recorded_at: Thu, 18 Apr 2019 05:15:24 GMT
recorded_with: VCR 4.0.0
