---
http_interactions:
- request:
    method: get
    uri: https://api.bnm.gov.my/public/fx-turn-over
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1555108284'
      Etag:
      - '"4027efd7b83b1f7fd3fc89751fbbadfc1ed496a4-gzip"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"date":"2019-04-11","total_sum":11.95},"meta":{"last_updated":"2019-04-11
        07:00:03","total_result":1}}'
  recorded_at: Fri, 12 Apr 2019 22:26:24 GMT
recorded_with: VCR 4.0.0
