---
http_interactions:
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1555710550'
      Etag:
      - '"e7640c565da386fb0aa1bed47298da3be25e28fe-gzip"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"currency_code":"AUD","unit":1,"rate":{"date":"2019-04-12","buying_rate":2.91,"selling_rate":2.955,"middle_rate":null}},{"currency_code":"CAD","unit":1,"rate":{"date":"2019-04-12","buying_rate":3.053,"selling_rate":3.098,"middle_rate":null}},{"currency_code":"EUR","unit":1,"rate":{"date":"2019-04-12","buying_rate":4.6208,"selling_rate":4.6658,"middle_rate":null}},{"currency_code":"GBP","unit":1,"rate":{"date":"2019-04-12","buying_rate":5.347,"selling_rate":5.397,"middle_rate":null}},{"currency_code":"JPY","unit":100,"rate":{"date":"2019-04-12","buying_rate":3.6579,"selling_rate":3.7029,"middle_rate":null}},{"currency_code":"SGD","unit":1,"rate":{"date":"2019-04-12","buying_rate":3.0141,"selling_rate":3.0561,"middle_rate":null}},{"currency_code":"USD","unit":1,"rate":{"date":"2019-04-12","buying_rate":4.1025,"selling_rate":4.1275,"middle_rate":null}}],"meta":{"quote":"rm","session":"1130","last_updated":"2019-04-14
        09:17:14","total_result":7}}'
  recorded_at: Fri, 19 Apr 2019 21:49:06 GMT
recorded_with: VCR 4.0.0
