---
http_interactions:
- request:
    method: get
    uri: https://api.bnm.gov.my/public/welcome
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1554582698'
      Etag:
      - '"4ccbd2fd79c6b7e26578b457197ea1abce19073a-gzip"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"BNM.API","api":["v1"],"description":"The APIs enable you to
        extract the relevant datasets on the BNM website for your applications and
        systems in a seamless manner. BNM will progressively release more datasets
        as APIs. If you are interested in a particular dataset or if you wish to provide
        feedback on the site, you may write to us.","contact":{"name":"BNM.API","email":"oapi@bnm.gov.my"},"disclaimer":"https:\/\/api.bnm.gov.my\/disclaimer"}'
  recorded_at: Sat, 06 Apr 2019 20:26:38 GMT
recorded_with: VCR 4.0.0
